body {
    font-family: Arial;
    font-size: 15px;
}

label {
    display: block;
    margin-bottom: 5px
}

input {
    display: block
}

input[type="text"] {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 30px;
    outline: none;
    width: 200px;
}

input[type="submit"] {
    background: #F00;
    color: #FFF;
    font-family: arial;
    font-size: 15px;
    border: 2px solid #bc2424;
    padding: 10px 15px;
    cursor: pointer;
}