body {   
    background-color: brown;
}

/* iPhone 8*/
@media only screen and (min-width:375px) and (max-width:667px) {
    body {
        background-color: black;
    }
    h1 {
        color:white;
    }
}

/* iPhone 8 Plus*/
@media only screen and (min-width:414px) and (max-width:736px) {
    body {
        background-color: red;
    }
    h1 {
        color:yellow;
    }
}